@import url("reset.css");

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #a4a9b3 url('../img/bg.png') repeat-y center;
}
.wrap {
	/*width: 930px;*/
	margin: 0 auto;
}
/*
************************
* =general
************************
*/
a{
	text-decoration:none;
	color: #FFF;
}
/*
************************
* =header
************************
*/
header {
	height:139px;
	width: 100%;
	background: black url('../img/headerBg.png') repeat-x left;
	position: relative;
}
header>div {
	padding-top:43px;
}
header h1,header h4 {
	text-indent:-9999px;
	margin: 0 auto;
}
header h1 {
	background: url('../img/logo.png') no-repeat;
	width: 420px;
	height: 36px;
	/*margin-top:40px;*/
	margin-bottom:10px;
}
header h4 {
	background: url('../img/insparationLogo.png') no-repeat;
	width: 421px;
	height: 9px;
}
.headerGlow {
	background: url('../img/headerGlow.png') no-repeat;
	position: absolute;
	top: -1px;
	width: 1355px;
	height: 141px;
}
/*
************************
* =mainNav
************************
*/
.navWrapper{
	margin: 0 auto;
	height:38px;
	width:930px;
	padding-top: 5px;
}
.wrap > nav {
	background: url('../img/navBg.png') repeat-x;
	height:38px;
}
/*
************************
* =scaleBar
************************
*/
.scaleBar {
	background: url('../img/navItemBg.png') repeat-x  0 0;
	width:173px;
	height:27px;
	float: left;
	margin-right:151px;
	/*background: #DDD url() repeat/repeat-x/repeat-y/no-repeat scroll/fixed top left/top center/top right/center left/center center/center right/bottom left/bottom center/bottom right/x-% y-%/x-pos y-pos;*/
}
.scaleBar > div {
	float: left;
	display: inline;
	vertical-align: middle;
	margin-top: 2px;
}
.scaleBar > div:first-of-type  {
	background: url('../img/blackBtnSprite.png') no-repeat 0 0;
	width: 157px;
	height: 23px;
	margin-left: 2px;
	position: relative;
}
.scaleBar > div:last-of-type {
	background: url('../img/blackBtnSprite.png') no-repeat -161px 0;
	width: 12px;
	height: 23px;
}
.pin, .plus, .minus {
	position: absolute;
}
.pin {
	background: url('../img/generalSprite.png') no-repeat -397px -64px;
	width: 16px;
	height: 16px;
	text-indent:-9999px;
	margin:-3px 50px;
}
.minus {
	background: url('../img/generalSprite.png') no-repeat -415px -64px;
	width: 9px;
	height: 3px;
	text-indent:-9999px;
	top:11px;
	left: 10px;

}
.plus {
	background: url('../img/generalSprite.png') no-repeat -415px -71px;
	width: 9px;
	height: 9px;
	top:8px;
	right: -3px;
}
.bar {
	background: url('../img/generalSprite.png') no-repeat -299px -90px;
	width: 121px;
	height: 9px;
	margin: 7px 25px;
	cursor: pointer;
}
/*
************************
* =nav buttons top
************************
*/
#mainNav nav {
	overflow: hidden;
}
#mainNav nav>div {
	overflow: hidden;
	background: url('../img/generalSprite.png') no-repeat -447px -41px;
	width: 143px;
	height: 23px;
}
#mainNav ul {
	line-height: 23px;
	font-size: 11px;
	font-family:Myriad Pro;
}
#mainNav ul li {
	display:inline;
	float: left;
	background: url('../img/blackBtnSprite3.png') repeat-x -16px 0px;
	margin-right:4px;
	/*padding-left: 0px;*/
}
#mainNav ul li a {
	background: url('../img//blackBtnSprite3.png') no-repeat 37px 0px;
	padding:5px 8px;
}